# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Sonic Pi'
      'submenu': [
        {
          'label': 'Play File'
          'command': 'sonic-pi-autocomplete:play-file'
        },
        {
          'label': 'Save To Buffer 9 in the GUI and Play'
          'command': 'sonic-pi-autocomplete:save-and-run-buffer-via-local-file'
        },
        {
          'label': 'Play Selection'
          'command': 'sonic-pi-autocomplete:play-selection'
        },
        {
          'label': 'Stop Playing'
          'command': 'sonic-pi-autocomplete:stop'
        }
      ]
    ]
  }
]
